
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<a href="https://github.com/obieda01/MVC_Web_Application" target="_blank" class="ui button"><i class="github icon"></i>Visit National Park Repo</a>

<div class="ui centered link cards">


    <div class="centered card">
        <div class="image">
            <img src="~/Content/About/IMG_2407.png">
        </div>
        <div class="content">
            <div class="header">Ahmed Obiedat</div>
            <div class="description">
                Ahmed is Software Developer.
            </div>
        </div>
        <div class="extra centered content">
            <a href="https://www.linkedin.com/in/ahmadobie/" target="_blank" class="ui linkedin circular icon button "><i class="linkedin large icon"></i></a>
            <a href="https://github.com/obieda01" target="_blank" class="ui home github circular icon button "><i class="github large icon"></i></a>
            <a href="http://www.ahmadobiedat.com/" target="_blank" class="ui twitter circular icon button "><i class="home large icon"></i></a>
        </div>
    </div>
    <div class=" card">
        <div class="image">
            <img src="~/Content/Assets/Najma.jpg">
        </div>
        <div class="content">
            <div class="header">Najma Aden</div>

            <div class="description">
                Software Developer in the greater Columbus area.
            </div>
        </div>
        <div class="extra centered content">
            <a href="https://linkedin.com/in/najma-aden" target="_blank" class="ui linkedin circular icon button "><i class="linkedin large icon"></i></a>
            <a href="https://github.com/najma103" target="_blank" class="ui home github circular icon button "><i class="github large icon"></i></a>
        </div>

    </div>
</div>








