@using Capstone.Web.Models
@{
    ViewBag.Title = "SurveyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Survey>

<h2>Survey List</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
    }
    <div class="ui cards">
        <div class="card">
            <div class="image">
                <img src="~/Content/Assets/gnp.jpg">
            </div>
            <div class=" content">
                <div class="header">Matt Giampietro</div>
                <div class="meta">
                    <a>Friends</a>
                </div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="ui heart rating" data-rating="1" data-max-rating="3"></div>
            <div class="extra content">
                <span class="right floated">
                    <button class="ui toggle button"><i class="arrow up icon"></i><i class="arrow down icon"></i>Vote</button>
                </span>
            </div>
        </div>

    </div>

</div>