@using Capstone.Web.Models
@{
    ViewBag.Title = "SurveyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Dictionary<string, ParkSurvey>

<h2>Survey List</h2>

<div class="list-group">
    <div class="ui link cards">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="image">
                    <a class="ui left corner label" style=" cursor:default !important;">
                        <i class="heart icon " style="color: #FF6D75 !important; cursor:default !important;"></i>
                    </a>
                    @{string imagePath = item.Key + ".jpg";}
                    <img src="~/Content/Assets/@imagePath" alt="park image" />

                </div>
                <div class=" content">
                    <div class="header">@item.Value.ParkName</div>
                    <div class="description">
                        @item.Value.State
                    </div>
                </div>

                <div class="extra content">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui  button">
                            <i class="heart icon"></i> Votes
                        </div>
                        <a style=" cursor:default !important;" class="ui basic left pointing label ">
                            1,048 
                            <div class="ui heart rating" data-rating="3" data-max-rating="4"></div>
                            <script>
                                $('.ui.rating')
                                    .rating({
                                        initialRating: 3,
                                        maxRating: 5
                                    })
                                    ;</script>
                        </a>
                    </div>
                </div>
            </div>

                        }
    </div>

</div>