@using Capstone.Web.Models
@{
    ViewBag.Title = "SurveyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Survey>
<link href="~/Content/" rel="stylesheet" />
<h2>Survey List</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
    }
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="" role="button">
                       
                        </a> <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
