
@{
    ViewBag.Title = "ParkList";
}
@using Capstone.Web.Models;
@model List<Park>
<section class="container">
    <h2>ParkList</h2>
    @*a. The home page should only show a picture of the park, its name, location, and a short summary,*@  

    @foreach (Park park in Model)
    {
        <div class="row">
            <div class="col-md-4">
                @{string imagePath = park.ParkCode.ToLower() + ".jpg";}

                <img src="~/Content/Assets/@imagePath" alt="park image" />

            </div>
            <div class="col-md-8">
                <strong>@park.ParkName </strong><br />
                @park.State <br />
                @park.ParkDescription
            </div>
           
        </div>
        <hr />
     }
</section>


