@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "ParkList";
}
@*a. The home page should only show a picture of the park, its name, location, and a short summary,*@

<h1 style="text-align:center">National Park Weather Service</h1><br />
@foreach (var park in Model)
{
    <div class="row" style="vertical-align:top;border:2px solid blue;">
        <div class="col-sm-4">
            @{string imagePath = park.ParkCode.ToLower() + ".jpg";}
            <a href='@Url.Action("ParkDetails", "Home", new { id = park.ParkCode })'>
                <img src="~/Content/Assets/@imagePath" alt="park image" />
            </a>
        </div>
        <div class="col-sm-8" style="vertical-align:top;position:relative;">
            <h2> @park.ParkName </h2>
            <h3>@park.State</h3>
            <p>@park.ParkDescription</p>
        </div>
    </div>
    <br />

}
